absl-py==2.5.0
annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.14.2
astunparse==1.6.3
autogluon.common==1.5.0
autogluon.core==1.5.0
autogluon.features==1.5.0
autogluon.tabular==1.5.0
beartype==0.22.9
boto3==1.43.64
botocore==1.43.64
catboost==1.2.10
certifi==2026.7.22
charset-normalizer==3.4.9
click==8.4.2
cloudpickle==3.1.2
colorama==0.4.6
contourpy==1.3.3
cycler==0.12.1
discrete-continuous-embed-readout==0.2.12
distro==1.9.0
einops==0.8.2
fastapi==0.141.1
filelock==3.32.2
flatbuffers==25.12.19
fonttools==4.63.0
fsspec==2026.7.0
gast==0.7.0
google-pasta==0.2.0
graphviz==0.21
grpcio==1.83.0
h11==0.16.0
h5py==3.14.0
hf-xet==1.6.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.26.0
hyper-connections==0.4.11
idna==3.18
imbalanced-learn==0.14.2
iniconfig==2.3.0
Jinja2==3.1.6
jiter==0.16.0
jmespath==1.1.0
joblib==1.5.3
keras==3.15.1
kiwisolver==1.5.0
libclang==18.1.1
lightgbm==4.7.0
llvmlite==0.48.0
markdown-it-py==4.2.0
MarkupSafe==3.0.3
matplotlib==3.10.9
mdurl==0.1.2
ml_dtypes==0.5.4
mpmath==1.3.0
namex==0.1.0
narwhals==2.24.0
networkx==3.6.1
numba==0.66.0
numpy==2.3.5
openai==2.53.0
opt_einsum==3.4.0
optree==0.19.1
packaging==26.3
pandas==2.3.3
pillow==12.3.0
plotly==6.9.0
pluggy==1.6.0
protobuf==7.35.1
psutil==7.1.3
pyarrow==20.0.0
pydantic==2.13.4
pydantic-settings==2.14.2
pydantic_core==2.46.4
Pygments==2.20.0
pyparsing==3.3.2
pytest==9.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytorch-tabnet==4.1.0
pytz==2026.3.post1
PyYAML==6.0.3
requests==2.34.2
rich==15.0.0
s3transfer==0.19.2
safetensors==0.8.0
scikit-learn==1.7.2
scipy==1.16.3
seaborn==0.13.2
setuptools==83.0.0
shap==0.52.0
six==1.17.0
sklearn-compat==0.1.6
slicer==0.0.8
sniffio==1.3.1
starlette==1.3.1
sympy==1.14.0
tab-transformer-pytorch==0.3.0
tabpfn==8.2.0
tensorflow==2.21.0
termcolor==3.3.0
threadpoolctl==3.6.0
torch==2.13.0
torch-einops-utils==0.1.15
tqdm==4.70.0
typing-inspection==0.4.2
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
uvicorn==0.52.1
wheel==0.47.0
wrapt==2.3.0
x-mlps-pytorch==0.5.0
xgboost==3.4.0
